<?xml version="1.0" encoding="GBK"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xmlns:repository="http://www.springframework.org/schema/data/repository"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:rabbit="http://www.springframework.org/schema/rabbit" xmlns:task="http://www.springframework.org/schema/task"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
        http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
        http://www.springframework.org/schema/data/repository http://www.springframework.org/schema/data/repository/spring-repository.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
        http://www.springframework.org/schema/rabbit http://www.springframework.org/schema/rabbit/spring-rabbit-1.4.xsd
        http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd
        ">

	<context:property-placeholder location="WEB-INF/config-*.properties" />

	<!-- <context:property-placeholder location="target/classes/config-*.properties" 
		/> -->
	<task:executor id="taskExecutor" pool-size="5-25"
		queue-capacity="100" rejection-policy="CALLER_RUNS" />

	<!-- 用于消息的监听的代理类MessageListenerAdapter -->
	<bean id="messageQueueListenerAdapter" class="org.springframework.amqp.rabbit.listener.adapter.MessageListenerAdapter"> 
		<constructor-arg ref="consumer" /> <property name="defaultListenerMethod" 
		value="handleMessage"></property> 
	</bean>



	<bean id="rabbitConnectionFactory"
		class="org.springframework.amqp.rabbit.connection.CachingConnectionFactory"
		scope="prototype" p:host="${rabbit.host}" p:port="${rabbit.port}"
		lazy-init="true">
	</bean>



	<bean id="rabbitTemplate" class="org.springframework.amqp.rabbit.core.RabbitTemplate"
		scope="prototype" p:connectionFactory-ref="rabbitConnectionFactory"
		lazy-init="true" />

	<bean id="rabbitMQTemplate"
		class="cn.com.sinosure.mq.spring.MessagePublisherSpringTemplate"
		scope="prototype" p:rabbitTemplate-ref="rabbitTemplate" lazy-init="true" />

	<rabbit:admin connection-factory="rabbitConnectionFactory" />



	<bean id="consumer"
	class="cn.com.sinosure.mq.spring.MessageManualAckDispatcher" init-method="init">
	</bean>

	<rabbit:listener-container
		connection-factory="rabbitConnectionFactory" task-executor="taskExecutor"
		acknowledge="manual" concurrency="2">
		<rabbit:listener ref="messageQueueListenerAdapter"
			queue-names="EDOC-BIZ" />
	</rabbit:listener-container>

	<!-- <bean id="consumer" class="cn.com.sinosure.common.demo.mq.Foo" /> -->

	<!-- <bean id="msgProducer" class="cn.com.sinosure.common.demo.mq.MessageProducer"> -->
	<!-- <property name="rabbitTemplate" ref="amqpTemplate" /> -->
	<!-- </bean> -->

	<!-- <bean id="taskExecutor" -->
	<!-- class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor"> -->
	<!-- <property name="corePoolSize" value="5" /> -->
	<!-- <property name="maxPoolSize" value="10" /> -->
	<!-- <property name="WaitForTasksToCompleteOnShutdown" value="true" /> -->
	<!-- </bean> -->
</beans>